{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="nav">
        <div class="logo"><a href="/home"><img src="{% static 'logo.png' %}" height="60px" alt="" srcset=""></a></div>
        <div id="navs">
            <ul>
                <li><a href="/home/">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="/problems/">Problems</a></li>
                {% if signed %}
                <li><a href="/logout/">Log out</a></li>
                <li style="display: flex; flex-direction: row-reverse;"><a href="/profile/"><img style="display: inline; border-radius: 70%; background-color: rgb(0, 0, 0);margin: 0;padding: 0;" src="{% static img %}"  height="40px" alt="" srcset=""/></a></li>
               
                {% else %}
                   <li><a href="/signin/">Sign in</a></li>
                   <li></li>
                {% endif %}
            </ul>
        </div>
    </div>
 <div class="box-profile">
    <div class="side_bar" style="position: relative;" >
    
        <div style="width: 200px;height: 200px;background-color: white;background: '{{ img }}';align-items: center; justify-content: center; position:relative">
          

            <img src="{% static img %}" alt="{{ img}}" height=200px width=200px  style="border-radius: 50%;">
       
             {% comment %} <form action="../add/" method="post" entype="multipart/form-data" style="position:absolute, top:0,background:red" >
              {% csrf_token %}
              <ul>
              {{ form }}
          </ul>
              <input type="submit" value="upload">
            </form> {% endcomment %}
       
           
        </div>
        <div>Name:  {{user.fname}} {{user.lname}}</div>
        <div>Email: {{user.email}}</div>
        <div>Phone: {{user.phone}}</div>
        <div>Sex: {{user.gender}}</div>
        <div>Age: {{user.age}}</div>
        <div>
       
        </div>
       
         

     

       
    </div>
    <div class="main_bar">
        <div > <h1>Rank {{rank}}</h1></div>
           <div style="width: 100%; height: 100%; display: grid; grid-template-columns: 1fr 2fr;">
                <div style="width: 300px; height: 90%; background-color: rgb(76, 76, 83);padding-top: 30px; display: flex; flex-direction: column; gap: 40px;">
                        <h2>Your Status</h2>
                        <h4>Solved :{{user.solved}}</h4>
                        <h4>Submitted : {{user.submitted}}</h4>
                        <div style="width: 100px;">
                            <canvas id="charthere1"></canvas>
                          </div>
               
                </div>    
                <div style="display: flex; flex-direction: column; align-items: center;">
                       <div>
                        <h4>Acceptancy rate </h4>
                        <h1>{{acceptance}}%</h1>
                       </div>
                       <div style="width: 400px;">
                        <canvas id="myChart"></canvas>
                      </div>
                </div>
            </div>
    </div>
        
 </div>


  
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Submitted', 'Solved'],
        datasets: [{
          label: '',
          data: [{{user.submitted}},{{user.solved}}],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('charthere1');
  
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Unsolved', 'Solved'],
        datasets: [{
          label: '',
          data: [{{user.submitted}},{{user.solved}}],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
  
   
  
   

</body>